*
	margin: 0;
	padding: 0;
}

body{
	background-image: url("http://jllsly.com/wallpapers/black-wallpaper-desktop-Is-Cool-Wallpapers.jpg");
}

#container {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    overflow: hidden;
    background-image: url("http://jllsly.com/wallpapers/black-wallpaper-desktop-Is-Cool-Wallpapers.jpg");
}


#scoreSection{
	text-align: center;	
	margin: 22px;
    color: #fff;
    font-size:28px;
}
#plusScore{
	position: absolute;
    top: 10%;
    z-index: 20;
	right: 4%;
	color: #fff;
    font-size:22px;
    opacity: 1;
}

#overlay{
	position: absolute;
    width: 25%;
    right: 0%;
    top: 10%;
    z-index: 20;
}

.button {
	position: absolute;
    right: 35%;
    margin-top: 100px;
    width: 110px; /* width of button */
    height: 50px; /* height of button */
    border-radius: 10px;
    font-size: 15px;
    background-color: green;
    border-color: green;
    color: #fff;
    opacity: 0.85;
}
.button:hover {
    background-color: #fff;
    border-color: #fff;
    color: green;
}
.button:focus {outline:0;}

#percentCount {
	height: 40px;
	color: #bbb;
    font-size:25px;
    text-align: center;
}
.progress-bar{
	position: fixed;
	right: 4.2%;
	width: 16%;
	height: 27px;
	padding-bottom: 1px;
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 1px;
	background-color: #bbb;
	border-radius: 13px;}
#progress{
	width: 100%; /* Adjust with JavaScript */
	height: 25px;
	border-radius: 15px;
	background-color: green;
}

.levelbar{
	width: 100%
	padding-top: 65px;
	margin-top: 65px;
	counter-reset: level;
}
.levelbar li{
	color: #bbb;
	list-style-type: none;
	float: left;
	width: 33.33%;
	position: relative;
	text-align: center;
}
.levelbar li:before{
	content: counter(level);
	counter-increment: level;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
}
.levelbar li:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #ddd;
	top: 15px;
	left: -50%;
	z-index: -1;
}
.levelbar li:first-child:after {
	content: none;
}
.levelbar li.active1{
	color: green;
}
.levelbar li.active1:before{
	border-color: green;
	border-width: 2px;
}
.levelbar li.active1 + li:after {
	background-color: green;
}

#swapsSection{
	font-size:25px;
	color: green;
	text-align: center;
	padding-top:  45px;
	display: none;
}

#canvas {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    z-index: 10;
    /*overflow: hidden;*/
}

